
/**************************************
STATIC LAYOUT CSS
**************************************/

.wrapper {
  width: 960px;
  /* margin: 0 auto; */
}

header {
	width: 960px;
}


nav {
  width: 200px;
  margin-right: 10px;
  float: left;
}


label {
  float: left;
  width: 10em;
  margin-right: 1em;
  margin-left: 1em;
  text-align: left;
}

input,
select {
  display: block;
  width: 10em;
}

section {
  width: 750px;
  float: right;
  justify-content: start;
}

table {
  border: 3px solid rgba(254, 254, 254, 0.8);
  /* border-collapse: collapse; */
  margin-bottom: 10px;
  border-radius: 5px;
  width: 300px;
  /* margin-left: 0px; */
  float: left;
}

td {
  border: 3px solid rgba(254, 254, 254, 0.8);
  /* border-collapse: collapse; */
  margin-bottom: 10px;
  border-radius: 5px;
  width: 300px;
  /* margin-left: 0px; */
  padding: 10px;
  text-align: left;
}

th {
  border: 3px solid rgba(254, 254, 254, 0.8);
  /* border-collapse: collapse; */
  margin-bottom: 10px;
  border-radius: 5px;
  width: 300px;
  /* margin-left: 0px; */
  padding: 10px;
  text-align: left;
}



/**************************************
CSS TO MAKE THE EXAMPLE LOOK PRETTY
**************************************/


*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


body {
  background: #ffffff;
  color: rgb(0, 0, 0);
  font-family: Helvetica;
  text-align: center;
  margin: 0;
}

header,
nav,
section {
  border: 3px solid rgba(25, 147, 240, 0.8);
  margin-bottom: 10px;
  border-radius: 5px;
}

header {
  padding: 20px 0;
}

nav, section {
  padding: 20px 0;
}
